In [1]:
%matplotlib inline
import pandas as pd
import utils

# Load Data

In [2]:
data = utils.get_socrata_data("http://data.cityofchicago.org/resource/cwig-ma7x.json")
inspections = pd.DataFrame(data)

Got http://data.cityofchicago.org/resource/cwig-ma7x.json?%24offset=0&%24limit=50000
Writing cwig-ma7x.json?%24offset=0&%24limit=50000
Got http://data.cityofchicago.org/resource/cwig-ma7x.json?%24offset=50000&%24limit=50000
Writing cwig-ma7x.json?%24offset=50000&%24limit=50000
Got http://data.cityofchicago.org/resource/cwig-ma7x.json?%24offset=100000&%24limit=50000
Writing cwig-ma7x.json?%24offset=100000&%24limit=50000

# Analysis

In [3]:
inspections.head(10)

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,604 N CICERO AVE,QUICK SUB,CHICAGO,QUICK SUB,Restaurant,2015-10-01T00:00:00.000,1578396,Canvass,41.89154610278816,2278446,"{u'type': u'Point', u'coordinates': [-87.74583...",-87.74583186684967,Out of Business,Risk 2 (Medium),IL,NaN,60644
1,2020 W CHICAGO,BAR BARI,CHICAGO,BAR BARI,Restaurant,2011-09-12T00:00:00.000,634525,Canvass,41.896004699879654,2109874,"{u'type': u'Point', u'coordinates': [-87.67793...",-87.6779378973854,Pass,Risk 1 (High),IL,NaN,60622
2,5620 S ASHLAND AVE,NaN,CHICAGO,"ROYAL CATERING SERVICES,LLc",Restaurant,2013-06-28T00:00:00.000,1151417,Canvass,41.79154905521807,2002612,"{u'type': u'Point', u'coordinates': [-87.66466...",-87.66466770942304,No Entry,Risk 1 (High),IL,NaN,60636
3,2634 N CLARK ST,WINGSTOP,CHICAGO,WINGSTOP,Restaurant,2017-01-24T00:00:00.000,1982029,Canvass,41.9305175589043,2253834,"{u'type': u'Point', u'coordinates': [-87.64394...",-87.64394893189049,Fail,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60614
4,3207 N ELSTON AVE,FOOD FIRST CHICAGO,CHICAGO,FOOD FIRST CHICAGO,Restaurant,2015-12-29T00:00:00.000,1607260,License Re-Inspection,41.939646610904056,2422792,"{u'type': u'Point', u'coordinates': [-87.69847...",-87.69847901358345,Pass,Risk 1 (High),IL,NaN,60618
5,217 N JEFFERSON ST,TRATTORIA ISABELLA,CHICAGO,TRATTORIA ISABELLA,Restaurant,2012-04-06T00:00:00.000,1184245,Canvass,41.88629366786716,1842843,"{u'type': u'Point', u'coordinates': [-87.64264...",-87.642643920642,Pass,Risk 1 (High),IL,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...,60661
6,541 N FAIRBANKS CT,CAFE 541,CHICAGO,"DELI-TIME, L.L.C.",Restaurant,2010-09-17T00:00:00.000,114553,Canvass,41.892274965646884,1898469,"{u'type': u'Point', u'coordinates': [-87.62009...",-87.62009879454878,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60611
7,1575 N MILWAUKEE AVE,DEBONAIR,CHICAGO,DEBONAIR SOCIAL CLUB,Liquor,2015-07-07T00:00:00.000,1559988,Canvass,41.91021618406442,1226806,"{u'type': u'Point', u'coordinates': [-87.67698...",-87.67698445293294,Fail,Risk 2 (Medium),IL,24. DISH WASHING FACILITIES: PROPERLY DESIGNED...,60622
8,4420 S Fairfield AVE,UNO BRIGHTON PARK CAMPUS,CHICAGO,UNO BRIGHTON PARK CAMPUS,School,2014-10-22T00:00:00.000,1498071,Canvass,41.81309751957612,2916353,"{u'type': u'Point', u'coordinates': [-87.69327...",-87.6932747396522,Fail,Risk 1 (High),IL,"26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...",60632
9,7342 S Hoyne (2100W),Southside Occupational Academy.,CHICAGO,Southside Occupational Academy.,School,2010-12-09T00:00:00.000,347254,Canvass,41.75986812942321,49031,"{u'type': u'Point', u'coordinates': [-87.67598...",-87.67598380492386,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60636

In [5]:
inspections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148987 entries, 0 to 148986
Data columns (total 17 columns):
address            148987 non-null object
aka_name           146321 non-null object
city               148837 non-null object
dba_name           148987 non-null object
facility_type      144432 non-null object
inspection_date    148987 non-null object
inspection_id      148987 non-null object
inspection_type    148986 non-null object
latitude           148461 non-null object
license_           148973 non-null object
location           148461 non-null object
longitude          148461 non-null object
results            148987 non-null object
risk               148921 non-null object
state              148979 non-null object
violations         119077 non-null object
zip                148889 non-null object
dtypes: object(17)
memory usage: 19.3+ MB

In [6]:
inspections.results.value_counts().reset_index()

                  index  results
0                  Pass    87761
1                  Fail    28885
2    Pass w/ Conditions    14039
3       Out of Business    13506
4              No Entry     4004
5             Not Ready      732
6  Business Not Located       60

In [9]:
inspections.risk.value_counts().reset_index()

             index    risk
0    Risk 1 (High)  103730
1  Risk 2 (Medium)   30937
2     Risk 3 (Low)   14237
3              All      17

In [11]:
inspections.violations.value_counts().reset_index()

                                                    index  violations
0       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          31
1       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          25
2       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          14
3       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          14
4       38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...          12
5       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          12
6       38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...          12
7       34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...          11
8       35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...          11
9       30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...          10
10      18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           9
11      45. FOOD HANDLER REQUIREMENTS MET - Comments: ...           8
12      34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...           8
13      18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           8
14      38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...           8
15      2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...           7
16      35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...           7
17      21. * CERTIFIED FOOD MANAGER ON SITE WHEN POTE...           7
18      33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...           7
19      33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...           7
20      41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...           7
21      32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           7
22      18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           7
23      29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...           6
24      11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...           6
25      11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...           6
26      35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...           6
27      32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           6
28      38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...           6
29      34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...           6
...                                                   ...         ...
117204  34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...           1
117205  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117206  35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...           1
117207  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117208  33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...           1
117209  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117210  14. PREVIOUS SERIOUS VIOLATION CORRECTED, 7-42...           1
117211  31. CLEAN MULTI-USE UTENSILS AND SINGLE SERVIC...           1
117212  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117213  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117214  8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...           1
117215  45. FOOD HANDLER REQUIREMENTS MET - Comments: ...           1
117216  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117217  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117218  16. FOOD PROTECTED DURING STORAGE, PREPARATION...           1
117219  34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...           1
117220  11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...           1
117221  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117222  35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...           1
117223  29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...           1
117224  34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...           1
117225  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117226  36. LIGHTING: REQUIRED MINIMUM FOOT-CANDLES OF...           1
117227  33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...           1
117228  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117229  36. LIGHTING: REQUIRED MINIMUM FOOT-CANDLES OF...           1
117230  30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...           1
117231  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117232  26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...           1
117233  11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...           1

[117234 rows x 2 columns]

In [23]:
fail = inspections[inspections.results == 'Fail']

In [24]:
fail.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
3,2634 N CLARK ST,WINGSTOP,CHICAGO,WINGSTOP,Restaurant,2017-01-24T00:00:00.000,1982029,Canvass,41.9305175589043,2253834,"{u'type': u'Point', u'coordinates': [-87.64394...",-87.64394893189049,Fail,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60614
7,1575 N MILWAUKEE AVE,DEBONAIR,CHICAGO,DEBONAIR SOCIAL CLUB,Liquor,2015-07-07T00:00:00.000,1559988,Canvass,41.91021618406442,1226806,"{u'type': u'Point', u'coordinates': [-87.67698...",-87.67698445293294,Fail,Risk 2 (Medium),IL,24. DISH WASHING FACILITIES: PROPERLY DESIGNED...,60622
8,4420 S Fairfield AVE,UNO BRIGHTON PARK CAMPUS,CHICAGO,UNO BRIGHTON PARK CAMPUS,School,2014-10-22T00:00:00.000,1498071,Canvass,41.81309751957612,2916353,"{u'type': u'Point', u'coordinates': [-87.69327...",-87.6932747396522,Fail,Risk 1 (High),IL,"26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...",60632
13,9915 S TORRENCE AVE,SKYWAY BOWL,CHICAGO,TORRENCE BOWL,Restaurant,2011-09-06T00:00:00.000,537570,License-Task Force,41.71488533977168,2094574,"{u'type': u'Point', u'coordinates': [-87.55962...",-87.55962172308115,Fail,Risk 2 (Medium),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60617
18,2524 S CALIFORNIA AVE,SON OF A BEEF,CHICAGO,SON OF A BEEF,Restaurant,2014-09-11T00:00:00.000,1496606,License,41.84560861006466,2355008,"{u'type': u'Point', u'coordinates': [-87.69538...",-87.69538780161594,Fail,Risk 2 (Medium),IL,NaN,60608

In [25]:
failed.dba_name.value_counts().reset_index()

                                  index  dba_name
0                                SUBWAY       247
1                         DUNKIN DONUTS       163
2                            MCDONALD'S        99
3                              7-ELEVEN        51
4                             MCDONALDS        43
5                HAROLD'S CHICKEN SHACK        41
6           POTBELLY SANDWICH WORKS LLC        38
7                CHIPOTLE MEXICAN GRILL        37
8                                 CITGO        31
9                     PAPA JOHN'S PIZZA        30
10                           McDONALD'S        28
11         DUNKIN DONUTS/BASKIN ROBBINS        28
12                                  KFC        27
13                       DOMINO'S PIZZA        27
14                          AU BON PAIN        25
15                     LAS ISLAS MARIAS        25
16                TREASURE ISLAND FOODS        24
17              POTBELLY SANDWICH WORKS        24
18                               Subway        24
19                   WHOLE FOODS MARKET        23
20                          JIMMY JOHNS        22
21                SHARKS FISH & CHICKEN        22
22                            PIZZA HUT        21
23                              ARAMARK        21
24                       FOREVER YOGURT        21
25       DUNKIN DONUTS / BASKIN ROBBINS        21
26                              FRESHII        21
27               EL TACONAZO RESTAURANT        20
28                    SUBWAY SANDWICHES        20
29                             MARATHON        20
...                                 ...       ...
13004                       GIFT 4 KIDS         1
13005                      LAKELAND INC         1
13006            MAXWELL STREET STATION         1
13007                        SOL DE SUR         1
13008                          GARCIA'S         1
13009                            Blu 47         1
13010                         SAND BAKE         1
13011                  WALGREENS #04752         1
13012                      ASIAN AVENUE         1
13013        RESTAURANTE KAPEEKOO, INC.         1
13014         BOW TRUSS COFFEE ROASTERS         1
13015     MARISCOS EL SENOR OSTION, INC         1
13016                     E-WOOD PANTRY         1
13017                  BUMPAS BEEF INC.         1
13018  ROSELAND SENIOR SATELLITE CENTER         1
13019               MARIA'S SUPERMARKET         1
13020                       LU-LU'S INC         1
13021                               DAK         1
13022                        NEWS STAND         1
13023              TOFI FOOD MARKET INC         1
13024             UNDER THE GUN THEATER         1
13025         THE BIG CHEESE ON LINCOLN         1
13026          ZOOM PIZZA FACTORY, INC.         1
13027                    BIG STAR TO-GO         1
13028            NOW WE'RE POPPIN' INC.         1
13029                 CORNER MARKET INC         1
13030                  EL PAISANO TACOS         1
13031        FIREHOUSE STEAK & LEMONADE         1
13032        15TH STREET FOOD MART INC.         1
13033   JR'S JAMAICAN TROPICAL CAFE,INC         1

[13034 rows x 2 columns]

In [26]:
failed.address.value_counts().reset_index()

                                index  address
0                  11601 W TOUHY AVE       231
1                   324 N LEAVITT ST        75
2                   500 W MADISON ST        63
3                  5700 S CICERO AVE        54
4                   2300 S THROOP ST        45
5                  100 W RANDOLPH ST        41
6                   2637 S THROOP ST        33
7                      333 W 35TH ST        31
8                    600 E GRAND AVE        29
9                    700 E GRAND AVE        28
10                 7601 S CICERO AVE        27
11              2002 S WENTWORTH AVE        26
12                520 N MICHIGAN AVE        26
13                  131 N CLINTON ST        25
14                  800 N KEDZIE AVE        24
15                900 N MICHIGAN AVE        22
16              301 E NORTH WATER ST        21
17              5401 S WENTWORTH AVE        20
18                    225 S CANAL ST        19
19                   233 S WACKER DR        18
20              4623-4627 N BROADWAY        17
21                875 N MICHIGAN AVE        17
22                  2306 W DEVON AVE        17
23                    201 N CLARK ST        16
24                    151 W ADAMS ST        16
25              444 W FULLERTON PKWY        16
26        222 W MERCHANDISE MART PLZ        16
27                    1660 E 55TH ST        16
28                    108 N STATE ST        15
29              1265 N MILWAUKEE AVE        15
...                               ...      ...
11291                  634 E 61ST ST         1
11292              3449 S HALSTED ST         1
11293           3002 N SHEFFIELD AVE         1
11294         6006-6018 S PULASKI RD         1
11295                 4455 W 55TH ST         1
11296              5901 S ARCHER AVE         1
11297              5547 N KEDZIE AVE         1
11298                111 W GRAND AVE         1
11299       2535-2537 W PETERSON AVE         1
11300               1612 W NORTH AVE         1
11301                 2200 E 79TH ST         1
11302            1758 W LAWRENCE AVE         1
11303             3551 N CENTRAL AVE         1
11304              1806 S RACINE AVE         1
11305              1930 S ARCHER AVE         1
11306             4225 N CENTRAL AVE         1
11307            3832 W DIVERSEY AVE         1
11308     5242 -5250 N NORTHWEST HWY         1
11309      4359-4361 N MILWAUKEE AVE         1
11310            3635 W ARMITAGE AVE         1
11311             2659 N LARAMIE AVE         1
11312            2337 S MICHIGAN AVE         1
11313                 1905 W 51ST ST         1
11314  6351-6359 S COTTAGE GROVE AVE         1
11315              2557 N HALSTED ST         1
11316         5200-5210 N CICERO AVE         1
11317           3215 N SHEFFIELD AVE         1
11318        6600 S STONY ISLAND AVE         1
11319              6319 S VERNON AVE         1
11320               2012 N MOHAWK ST         1

[11321 rows x 2 columns]

In [28]:
failed[failed.address == "11601 W TOUHY AVE"]

Empty DataFrame
Columns: [address, aka_name, city, dba_name, facility_type, inspection_date, inspection_id, inspection_type, latitude, license_, location, longitude, results, risk, state, violations, zip]
Index: []

In [29]:
failed_businesses = failed.dba_name.value_counts().reset_index()

In [ ]:
failed_businesses.plot.bar()